.tree-container {
  max-height: 600px;
  overflow-y: auto;
}

.custom-node {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.actions-container {
  min-height: 80px;
}

.empty-state {
  background-color: #fff;
  border: 1px dashed #d9d9d9 !important;
}
