<nz-layout class="layout">
    <nz-sider [nzTheme]="'light'" class="sideBar" nzBreakpoint="lg" [(nzCollapsed)]="isCollapsed"
        [nzCollapsedWidth]="0">
        <div class="selectModule">
            <div (click)="navigation('/')" class="text-center pointer mainInit">
                <p><strong>
                        Inicio
                    </strong></p>
            </div>
        </div>
        <div class="selectModule">
            <nz-select (ngModelChange)="changeModule($event)" nzShowSearch nzAllowClear nzPlaceHolder="Seleccionar"
                [(ngModel)]="selectedValue">
                @for (mod of listModule(); track mod.id) {
                    <nz-option [nzLabel]="mod.nameModule!" [nzValue]="mod.id"></nz-option>
                }
            </nz-select>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline">
            @for (menu of lsMenus(); track menu.id) {
                <li nz-submenu [nzTitle]="menu.name" [nzIcon]="menu.icon ?? null" [nzOpen]="false">
                    <ul>
                        @for (item of menu.items; track item.id) {
                            @if (!item.items || item.items.length === 0) {
                                <li (click)="navigation(item.routePath!)" nz-menu-item>
                                    <p>{{ item.name }}</p>
                                </li>
                            } @else {
                                <li nz-submenu [nzTitle]="item.name" [nzIcon]="item.icon ?? null">
                                    <ul>
                                        @for (subItem of item.items; track subItem.id) {
                                            <li (click)="navigation(subItem.routePath!)" nz-menu-item>
                                                <p>{{ subItem.name }}</p>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>        
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="d-flex">
                <div>
                    <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                        (click)="isCollapsed = !isCollapsed"></span>
                </div>
                <div style="display: flex;margin-left: auto;">
                    <div style="margin-left: auto; margin-right: 20px;">
                        <a nz-dropdown [nzPlacement]="'bottomRight'" [nzDropdownMenu]="menu">
                            <i class="fas fa-user fa-fw iconUser"></i>
                        </a>
                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <ul nz-menu>
                                <li nz-menu-item (click)="logout()">Salir</li>
                            </ul>
                        </nz-dropdown-menu>
                    </div>                  
                </div>

            </div>

        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <nz-footer>ERP Umbrella ©2026 </nz-footer>
    </nz-layout>
</nz-layout>
