<div>
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  
  <div class="body-content mt-3">
    <nz-spin [nzSize]="'large'" [nzSpinning]="isLoading()" nzTip="Cargando...">
      <div class="d-flex justify-content-between align-items-center mb-4">        
        <button nz-button nzType="primary" (click)="addUser()" class="btn-flex">
          <span nz-icon nzType="plus"></span> Registrar Usuario
        </button>
      </div>

      <nz-table 
        #sortTable 
        [nzData]="filteredUsers()" 
        [nzLoading]="isLoading()"
        [nzFrontPagination]="true" 
        [nzPageSize]="10"
        [nzBordered]="true"
        nzTableLayout="fixed"
      >
        <thead>
          <tr>
            <th nzCustomFilter nzShowSort [nzSortFn]="sortUsername" class="header-with-filter">
              <span class="column-title">Usuario</span>
              <app-table-filter 
                [placeholder]="'Buscar...'" 
                [searchValue]="searchValue()" 
                (searchChange)="searchValue.set($event)"
              ></app-table-filter>
            </th>
            <th nzShowSort [nzSortFn]="sortName">Nombre</th>
            <th nzShowSort [nzSortFn]="sortLastName">Apellido</th>
            <th nzShowSort [nzSortFn]="sortEmail">Email</th>
            <th nzShowSort [nzSortFn]="sortStatus">Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (data of sortTable.data; track data.id) {
          <tr>
            <td>
              <strong>{{ data.username }}</strong>
              @if (data.isMainAdmin) {
                <nz-tag nzColor="gold" class="ms-2">Admin</nz-tag>
              }
            </td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.email }}</td>
            <td>
              <nz-badge [nzStatus]="data.isActive ? 'success' : 'error'"
                [nzText]="data.isActive ? 'Activo' : 'Inactivo'"></nz-badge>
            </td>
            <td>
              <a (click)="editUser(data)">Editar</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a class="text-danger pointer" (click)="deleteUser(data)">Eliminar</a>
            </td>
          </tr>
          }
        </tbody>
      </nz-table>
    </nz-spin>
  </div>
</div>
