<form nz-form [formGroup]="validateForm" (ngSubmit)="handleOk()" nzLayout="vertical" class="erp-form-container">
  <div class="erp-form-body">
    <div class="erp-form-panel mt-3">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nombre de la Ciudad</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese el nombre">
          <input nz-input formControlName="name" placeholder="Ej: Medellín, Barcelona" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzRequired]="true">Código DANE / Postal</nz-form-label>
        <nz-form-control nzErrorTip="Ingrese el código">
          <input nz-input formControlName="daneCode" placeholder="Ej: 05001" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <div class="erp-form-footer">
    <button nz-button nzType="default" (click)="handleCancel()" type="button" [disabled]="isSubmitting()" class="me-2">Cancelar</button>
    <button nz-button nzType="primary" [nzLoading]="isSubmitting()" type="submit">Guardar Ciudad</button>
  </div>
</form>
